.wrap {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}
footer {
  margin: 0;
}
.footer-text {
  padding: 15px 0;
  margin-bottom: 0;
  font-size: 18px;
  text-align: center;
  text-transform: capitalize;
}

h1,
h2,
h3,
h4,
h5,
p,
ul,
a {
  margin-top: 0;
  text-decoration: none;
  list-style-type: none;
}
img {
  max-width: 100%;
}
body {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}
.text-white {
  color: white;
}
.bg-white {
  background-color: white;
}
.text-black {
  color: black;
}

.bg-lightgray {
  background-color: lightgray;
}

.bg-blue {
  background-color: #333d54;
}
.bg-lightBlue {
  background-color: #527dee;
}

.flex {
  display: flex;
}
.absolute {
  position: absolute;
}

.navbar-index {
  display: flex;
  justify-content: space-between;
}

.nav-left,
.nav-right {
  width: 50%;
  padding: 15px 20px;
  font-weight: bold;
}

.navbar-index ul {
  display: flex;
  justify-content: flex-end;
  padding-left: 0;
  margin-bottom: 0;
}

.navbar-index li,
.navbar-contact li {
  background-color: white;
  padding: 20px;
}

.nav-inner {
  justify-content: space-between;
  padding: 15px 20px;
  font-weight: bold;
}

.nav-inner ul {
  padding-left: 0;
  margin-bottom: 0;
}

.intro-banner {
  height: 100vh;
  position: relative;
}
.right-container {
  flex-basis: 50%;
  align-items: center;
}
.right-container .text {
  font-size: 25px;
  padding: 0 25px;
  width: 50%;
}
.left-container {
  flex-basis: 50%;
  background-color: lightgray;
  height: 100vh;
  align-items: flex-end;
  justify-content: flex-end;
}
.left-container .text {
  font-size: 25px;
  padding: 25px 25px;
  width: 50%;
}
.image-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.contact-banner {
  padding: 100px;
}
.first-section {
  padding-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #333d54;
  color: white;
}
.first-section .img-content img {
  display: block;
}

.first-section .content {
  text-align: end;
  margin-left: 40px;
  width: 20%;
}
.first-section a {
  display: inline-block;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  background-color: #527dee;
  padding: 15px 20px;
  border-radius: 25px;
}

/* CONTACT HTML CSS */
header {
  background-color: #527dee;
}
header,
.description {
  padding-top: 25px;
  padding-bottom: 25px;
}

.menu-wrap {
  width: 95%;
}
.menu-wrap,
.wrap {
  margin-left: auto;
  margin-right: auto;
}

nav {
  display: flex;
  justify-content: space-between;
}

nav ul {
  list-style-type: none;
  display: flex;
  margin-bottom: 0;
  padding-left: 0;
}

nav ul li {
  padding: 20px;
  border: none;
  background-color: white;
  text-transform: uppercase;
}
nav ul li a,
.btn {
  text-decoration: none;
}
nav ul li a {
  color: black;
  font-weight: bold;
}

.contact-banner {
  background-color: #333d54;
  text-transform: capitalize;
}
.wrap {
  width: 60%;
}

.contact-banner .wrap h1 {
  color: white;
  margin-bottom: 5px;
}

hr {
  width: 5%;
}
hr,
.btn {
  border: 1px solid #527dee;
}

.description {
  color: #333d54;
}

.inner-wrap {
  width: 40%;
}

.inner-wrap h2 {
  color: #527dee;
}
.link-btn {
  margin-top: 30px;
  margin-bottom: 30px;
}

.btn {
  padding: 10px 20px;
  border-radius: 30px;
  font-weight: 600;
  color: #527dee;
  text-transform: uppercase;
}
/* LOCATION MAP */
.our-location {
  padding-bottom: 90px;
}
.location-container {
  display: flex;
  background-color: #5a7ef3;
}
.location-text {
  flex-basis: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 60px;
}
.location-text p,
.subscribe-form legend {
  font-size: 20px;
  line-height: 1.5;
  color: white;
}
.location-map {
  flex-basis: 65%;
  overflow: hidden;
  height: 500px;
}

.location-map iframe {
  height: 100%;
  width: 100%;
}

/* --------subscribe---------- */

.subscribe {
  padding: 70px;
}

.subscribe form .inner {
  width: 20%;
  margin: 0 auto;
  text-align: center;
}

.subscribe form .inner p {
  color: #fff;
  margin-bottom: 40px;
}

.subscribe form .inner input {
  background-color: transparent;
  display: block;
  width: 100%;
  border: 1px solid #fff;
  padding: 10px;
  border-radius: 20px;
  margin-bottom: 20px;
  color: #fff;
}

.subscribe form .inner input::placeholder {
  color: #fff;
}

.subscribe form .inner button {
  color: #527dee;
  border: 1px solid #527dee;
  text-transform: uppercase;
  font-weight: 700;
  padding: 15px;
  border-radius: 25px;
}
.subscribe form .inner button:hover {
  border-color: #fff;
  background-color: #527dee;
  color: #fff;
  transition: 0.3s;
  cursor: pointer;
}

/* PAGE CONTENT */
.page-content {
  padding: 90px 0;
}
.page-content h3 {
  font-size: 30px;
  color: #527dee;
  margin-bottom: 30px;
}
.page-content span,
.page-content small {
  font-size: 18px;
  display: block;
  color: rgb(124, 124, 124);
  margin-bottom: 30px;
}
.page-content span {
  font-weight: 600;
}
.page-content small {
  line-height: 1.6;
}
.wrapper {
  width: 50%;
  margin: 0 auto;
}
.content {
  flex-direction: column;
}
.content > *:not(:last-child) {
  margin-bottom: 90px;
}
.post.invert {
  flex-direction: row-reverse;
}
.post:not(.invert) .post-img {
  margin-left: 60px;
}
.post.invert .post-img {
  margin-right: 60px;
}
.post-text,
.post-img {
  flex-basis: 50%;
}
.post-img img {
  width: 100%;
}
